html
  head
    title Content Manager Dashboard

  body
    h1 Welcome to the Content Manager's Dashboard, #{username}!
    p You have access to special content management features.
a(href='/logout') Logout